src/test/resources/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/test" xmlns:tns="http://www.example.org/test" elementFormDefault="qualified">

    <complexType name="Person">
    	<sequence>
    		<element name="name" type="string"></element>
    		<element name="age" maxOccurs="1" minOccurs="1">
    			<simpleType>
    				<restriction base="integer">
    					<minExclusive value="0"></minExclusive>
    					<maxExclusive value="200"></maxExclusive>
    				</restriction>
    			</simpleType>
    		</element>
    	</sequence>
    </complexType>
</schema>