src/test/resources/users.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/users" xmlns:tns="http://www.example.org/users" elementFormDefault="qualified">
    <complexType name="Person">
    	<sequence>
    		<element name="firstName" type="string"></element>
    		<element name="lastName" type="string"></element>
    	</sequence>
    </complexType>
</schema>